<% if flash[:notice] || flash[:alert] %>
  <div class="flash">
    <div class="container">
      <div class="row">
        <div class="col">
          <% if flash[:notice] %>
            <div class="notice">
              <%= flash[:notice] %>
            </div>
          <% end %>
          <% if flash[:alert] %>
            <div class="alert">
              <%= flash[:alert] %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
