<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .body {
        width: 100%;
        padding: 20px 40px;
        font_size: 16px;
      }

      .footer {
        width: 100%;
        margin-top: 20px;
        padding: 20px 40px;
        border-top: 1px solid #333;
        font_size: 12px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
